beautifulsoup4==4.12.3
camelot-py==1.0.9
cffi==2.0.0
chardet==5.2.0
charset-normalizer==3.4.4
click==8.3.1
cryptography==46.0.3
et_xmlfile==2.0.0
ghostscript==0.8.1
lxml==6.0.2
numpy==2.2.6
opencv-python-headless==4.12.0.88
openpyxl
pandas
pdfminer.six==20251107
pdfplumber==0.11.8
pillow==12.0.0
django
pycparser
pypdf
PyPDF2
pypdfium2
python-dateutil
python-docx
pytz
six
tabulate
typing_extensions
tzdata
djangorestframework
python-dotenv
pytesseract
pdf2image
python-docx
pdfplumber
django-admin-interface
django-admin-rangefilter
xlrd==1.2.0